# QUESTION 1

In [25]:
#first import libraries
import numpy as np
import pandas as pd

#type the list
A = [1,2,3,4,5,6]
B = [13,21,34]
#create the list as follows
A.extend(B)
A

[1, 2, 3, 4, 5, 6, 13, 21, 34]

# QUESTIION 2

In [26]:
np.identity(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [27]:
#The data is gotten from the web and also converted to a local .csv file
dframe = pd.read_csv('https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true',error_bad_lines=False)
dframe.to_csv('fuel_ferc1.csv',index=False)

#read the local .csv file and make it a dataframe
dframe = pd.read_csv('fuel_ferc1.csv')
dframe.columns

Index(['record_id', 'utility_id_ferc1', 'report_year', 'plant_name_ferc1',
       'fuel_type_code_pudl', 'fuel_unit', 'fuel_qty_burned',
       'fuel_mmbtu_per_unit', 'fuel_cost_per_unit_burned',
       'fuel_cost_per_unit_delivered', 'fuel_cost_per_mmbtu'],
      dtype='object')

# QUESTION 3

In [28]:
avg_fuel_cost_per_burned = dframe['fuel_cost_per_unit_burned'].groupby(dframe['fuel_type_code_pudl'])
avg = avg_fuel_cost_per_burned.mean()
avg.sort_values()

fuel_type_code_pudl
gas          13.659397
other        18.253856
waste        19.518122
coal         67.421830
oil         168.877086
nuclear    4955.157002
Name: fuel_cost_per_unit_burned, dtype: float64

# QUESTION 4

In [29]:
#Standard deviation and 75th percentile of the measure of energy per unit for fuel_mmbtu_per_unit
df1 = dframe.iloc[:, 7]
print (df1)
print (df1.std()) 
print (np.percentile(df1, 75))

0        16.590
1        16.592
2        24.130
3        23.950
4         1.000
          ...
29518     1.059
29519     1.050
29520     1.060
29521    16.108
29522     1.059
Name: fuel_mmbtu_per_unit, Length: 29523, dtype: float64
10.600220307806886
17.006

# QUESTION 5

In [30]:
#Skewness and Kurtosis for the fuel quantity burned
df2 = dframe.iloc[:, 6]
print(df2)
print (df2.skew())
print(df2.kurt())

0         5377489.0
1        10486945.0
2         2978683.0
3         3739484.0
4           40533.0
            ...
29518       18799.0
29519      806730.0
29520      104554.0
29521      315945.0
29522       17853.0
Name: fuel_qty_burned, Length: 29523, dtype: float64
15.851495469109503
651.3694501337732

# QUESTION 6

In [31]:
print (dframe.isnull().sum())

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [32]:
FuelU = dframe['fuel_unit']
100*(F.isnull().sum()/len(F.index))

0.609694136774718

# QUESTION 7

In [34]:
FuelU.value_counts()

mcf       11354
ton        8958
bbl        7998
gramsU      464
mmbtu       180
kgU         110
mwhth       100
mwdth        95
gal          84
Name: fuel_unit, dtype: int64

# QUESTION 8

In [35]:
#correlation
dframe.corr()
#the output shows that fuel_qty_burned and fuel_mmbtu_per_unit have the second and third lowest correlation with fuel_cost_per_unit_burned

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

# QUESTION 9

In [38]:
df3 = dframe.groupby(['fuel_type_code_pudl','report_year'])['fuel_cost_per_unit_burned'].sum().reset_index()
df3

    fuel_type_code_pudl  report_year  fuel_cost_per_unit_burned
0                  coal         1994                  14984.572
1                  coal         1995                  14571.785
2                  coal         1996                  12694.803
3                  coal         1997                  43742.178
4                  coal         1998                  11902.597
..                  ...          ...                        ...
143               waste         2014                    591.594
144               waste         2015                    629.270
145               waste         2016                    539.079
146               waste         2017                    452.079
147               waste         2018                    660.972

[148 rows x 3 columns]

In [40]:
Year_1994 = df3['fuel_cost_per_unit_burned'][0]
Year_1998 = df3['fuel_cost_per_unit_burned'][4]
((Year_1998 - Year_1994)/Year_1994)*100

-20.56765451826049

# QUESTION 10

In [45]:
average_fuel_cost = dframe['fuel_cost_per_unit_delivered'].groupby(dframe['report_year'])
avg2 = average_fuel_cost.mean()
avg2.sort_values(ascending = False)

report_year
1997    11140.197239
1996     9196.705948
2000      985.362877
2009      652.694163
2018      499.269966
2015      326.535511
1998      287.154420
2014      192.737183
2013      172.307591
2004      139.524275
2016      103.901761
2010       91.862105
1994       63.636060
2012       60.994502
2001       60.050396
2011       59.774667
2008       58.588197
2003       55.663493
2002       47.594361
2017       46.196861
2007       43.325023
2005       41.438184
2006       38.657484
1995       32.735269
1999       25.551627
Name: fuel_cost_per_unit_delivered, dtype: float64